* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo {
  background-image: url("./media/fondo.jpg");
}

body {
  min-height: 100vh;
  background-color: #efefef;
}

.navbar {
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: #cecfc9;
}

.nav-link {
  font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #276e90;
}

#contenedor {
  margin-top: 160px;
  margin-left: 270px;
  position: fixed;
  width: 1000px;
}

span {
  display: block;
  padding-bottom: 10px;
}

.logout:hover {
  background-color: #0a3143;
}

.primario {
  background-color: #0a3143;
}

.secundario {
  background-color: #276e90;
}

.terciario {
  background-color: #cecfc9;
}

.cuarto {
  background-color: #325566;
}

.texto {
  color: #cecfc9;
}
